{% extends "BpiAdminBundle::layout.html.twig" %}

{% block content %}
{% include 'BpiAdminBundle:Agency:nav.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th{% if pagination.isSorted('public_id') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Public ID', 'public_id', {'defaultDirection' : 'asc'}) }}</th>
            <th{% if pagination.isSorted('name') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Name', 'name', {'defaultDirection' : 'asc'}) }}</th>
            <th>Internal</th>
            <th>Deleted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for item in pagination %}
        <tr>
            <td>{{ item.publicId }}</td>
            <td>{{ item.name }}</td>
            <td>{% if item.internal %}Yes{% else %}No{% endif %}</td>
            <td>{% if item.deleted %}Yes{% else %}No{% endif %}</td>
            <td>
                <a href="{{ url('bpi_admin_agency_details',{'id':item.id}) }}">Details</a>
                <a href="{{ url('bpi_admin_agency_edit',{'id':item.id}) }}">Edit</a>
                {% if item.deleted == 1 %}
                    <a href="{{ url('bpi_admin_agency_restore', {'id':item.id}) }}">Restore</a>
                    <a href="{{ url('bpi_admin_agency_purge', {'id':item.id}) }}">Purge</a>
                {% else %}
                    <a href="{{ url('bpi_admin_agency_delete',{'id':item.id}) }}">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
