{% extends "BpiAdminBundle::layout.html.twig" %}

{% block content %}
{% include 'BpiAdminBundle:Node:nav.html.twig' %}
{% if delete_lable is not defined %}
    {% set delete_lable = "Delete" %}
    {% set delete_url = "bpi_admin_node_delete" %}
{% endif %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th{% if pagination.isSorted('resource.title') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Title', 'resource.title', {'defaultDirection' : 'asc'}) }}</th>
            <th{% if pagination.isSorted('resource.agencyId') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Agency ID', 'author.agency_id', {'defaultDirection' : 'asc'}) }}</th>
            <th>Category</th>
            <th>Audience</th>
            <th{% if pagination.isSorted('ctime') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Pushed', 'ctime', {'defaultDirection' : 'asc'}) }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for item in pagination %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.agencyId }}</td>
        <td>{{ item.category.category }}</td>
        <td>{{ item.audience.audience }}</td>
        <td>{{ item.ctime.format('d/m/Y H:i') }}</td>
        <td>
            <a href="{{ url('bpi_admin_node_details',{'id':item.id}) }}">Details</a>
            <a href="{{ url('bpi_admin_node_edit',{'id':item.id}) }}">Edit</a>
            <a href="{{ url(delete_url,{'id':item.id}) }}">{{delete_lable}}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination) }}
{% endblock %}
