<!DOCTYPE html>
<html>	
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.input .send').click(function(){
					var self = $(this)
					var dest = $('.output')
					$.ajax("{{ path("list") }}", {
						type: "POST",
						contentType: "application/vnd.bpi.api+xml",
						data: $('.input .data').val(),
						success: function(data){
							$('.output').html($(data).html())
						},
						beforeSend: function() {
							$('.output .response_head').empty()
							$('.output .response_body').empty()
							dest.hide()
						},
						complete: function(jqXHR, textStatus) {
							dest.show()
							$('.output .response_head').text(jqXHR.status+' '+jqXHR.statusText)
							$('.output .response_body').val(jqXHR.responseText)
						}
					})
				})
				
				/*
				* Insert entity into submit body
				*/
				$('.input .entity .insert').click(function(){
					var self = $(this)
					$.ajax($(".input .entity a.bpi").attr('href'), {
						contentType: "application/vnd.bpi.api+xml",
						beforeSend: function() {
							self.attr('disabled', true)
						},
						complete: function(jqXHR, textStatus) {
							self.attr('disabled', false)
							if (jqXHR.status == 200)
								$('.input .data').val(jqXHR.responseText)
							else alert('Unable to insert. Server response: '+jqXHR.status+' '+jqXHR.statusText)
						}
					})
				})
			});
		</script>
	</head>
	<body>
		
<section class="input">

	<h2>Input</h2>
	
	<h3>Expected BPI entities</h3>
	<ul>
		<li class="entity"><strong>nodes_query</strong> <button class="insert">insert</button> <a href="{{ path("schema", {'tree': 'entity', 'subtree': 'nodes_query', _format: 'bpi'}) }}" class="bpi" title="Example in BPI">bpi</a>, <a href="{{ path("schema", {'tree': 'entity', 'subtree': 'nodes_query', _format: 'rng'}) }}" title="RelaxNG schema">rng</a></li>
	</ul>
	
	<textarea style="width:100%; height: 300px" class="data">{{ data.input.example|serialize("xml") }}</textarea>
	<button type="submit" class="send">Send</button>
	<a href="{{ path("list", {_format: 'html'}) }}">Reset</a>
	
</section>

<section class="output">
<h2>Output</h2>
<div class="response">
	<h3 class="response_head"></h3>
	<textarea style="width:100%; height: 300px" class="response_body">{{ data.output | serialize("xml") }}</textarea>
</div>
</section>
		
	</body>
</html>