<!DOCTYPE html>
<html>
    <head>
        <link href="/bundles/bpiapi/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/bundles/bpiapi/codemirror/lib/codemirror.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="/bundles/bpiapi/bootstrap/js/bootstrap.min.js"></script>
        <script src="/bundles/bpiapi/codemirror/lib/codemirror.js"></script>
        <script src="/bundles/bpiapi/codemirror/mode/xml/xml.js"></script>
        <script src="https://raw.github.com/kvz/phpjs/master/functions/strings/sha1.js"></script>
        <script src="https://raw.github.com/kvz/phpjs/master/functions/xml/utf8_encode.js"></script>
        <style type="text/css">
            .output .body { height: auto; min-height: 500px; }
            .output iframe.body { border:0; margin:0 }
        </style>
        <script type="text/javascript">
            $(document).ready(function(){

                // query for available methods
                $.ajax("{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}.json", {
                        type: "OPTIONS",
                        success: function(data){
                            for(method in data)
                            {
                                var tab = $("<li><a href='#tab_"+method+"'  data-toggle='tab'>"+method+"</li>")
                                var item = $('<div class="tab-pane" id="tab_'+method+'"></div>')

                                // INPUT
                                var input = $('<div class="well well-large"></div>')
                                item.append(input)

                                // INPUT AUTH
                                if (method != 'OPTIONS')
                                {
                                    input.append($("<h4>Authentication</h4>"))
                                    var auth_agency_select = input.append($('<select name="_authorization[pk]"><option value="alpha_public_key">Agency Alpha<option value="bravo_public_key">Agency Bravo<option value="charlie_public_key">Agency Charlie</select>'))
                                    var auth_secret_input = input.append($('<input type="text" name="secret" placeholder="secret" value="secret" title="Secret phrase">'))
                                }

                                // INPUT DATA
                                if (data[method].input)
                                {
                                   input.append($("<h4>Expected entities</h4>"))
                                   var list = $("<ul></ul>")
                                   input.append(list)

                                    $(data[method].input.entities).each(function(i,e){
                                        list.append($("<li>"+e+"</li>"))
                                    })

                                    var editor = $('<section class="editor"><div class="controls"></div></section>')
                                    var area = $('<textarea rows="7" class="area span11"></textarea>')
                                    editor.append(area)
                                    input.append(editor)

                                }

                                // INPUT SEND BUTTON
                                var send_button = $('<div class="control-group"><div class="controls"><button class="btn btn-primary">Send</button></div></div>')
                                input.append(send_button)

                                // OUTPUT
                                item.append($("<fieldset><legend><h3>Output</h3></legend></fieldset>"))
                                if (data[method].output)
                                {
                                    var expected_entities = $("<div><strong>Expected entities: </strong></div>")
                                    item.append(expected_entities)

                                    $(data[method].output.entities).each(function(i,e){
                                        expected_entities.append($('<span>'+e+"</span>"))
                                    })
                                }
                                var output = $("<div class='output tabbable'><h4 class='status text-info'></h4><ul class='nav nav-tabs'><li class='active'><a href='#adopted_"+method+"' data-toggle='tab'>Adopted output</a></li><li><a href='#raw_"+method+"' data-toggle='tab' class='raw'>Raw output</a></li></ul><div class='tab-content'><div class='tab-pane active' id='adopted_"+method+"'><iframe id='preview_"+method+"' class='body preview span12'></iframe></div><div class='tab-pane' id='raw_"+method+"'><textarea rows=15' class='span12 body'></textarea></div></div>")
                                item.append(output)
                                var codemirror = CodeMirror.fromTextArea(output.find('textarea')[0], {
                                    lineNumbers: true,
                                    lineWrapping: true
                                })

                                // BIND SEND REQUEST
                                send_button.bind('click', {method: method, area: area, output: output, codemirror: codemirror, auth: {ag: auth_agency_select, sc: auth_secret_input}}, function(e){
                                    var self = $(this)
                                    data = (e.data.area==undefined) ? '' : e.data.area.val()

                                    var headers = (e.data.auth.ag && e.data.auth.sc)
                                        ? {Authorization: 'BPI pk="'+e.data.auth.ag.find(':selected').val()+'", token="'+sha1(e.data.auth.ag.find(':selected').val()+e.data.auth.sc.val())+'"'}
                                        : {}

                                    $.ajax("{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}.bpi", {
                                        type: e.data.method,
                                        data: data,
                                        contentType: "application/xml",
                                        headers: headers,
                                        beforeSend: function() {
                                            self.addClass("disabled")
                                            e.data.output.hide().find(".status").empty()
                                        },
                                        complete: function(jqXHR, textStatus) {

                                            // display raw output
                                            self.removeClass("disabled")
                                            e.data.output.show()
                                            e.data.output.find('.nav-tabs a.raw').tab('show') // codemirror works only in visible zone
                                            e.data.output.find(".status").text(jqXHR.status+' '+jqXHR.statusText)
                                            e.data.codemirror.setValue(jqXHR.responseText)
                                            e.data.output.find('.nav-tabs a:first').tab('show') // switch back to first active tab

                                            // human friendly output for navigation
                                            var xml = jqXHR.responseXML
                                            $.ajax('/bundles/bpiapi/schema/stylesheet-1.0.xsl', {
                                                accepts: {
                                                    xsl: "application/xml"
                                                },
                                                dataType: "xml",
                                                success: function(xsl){

                                                    // do the xsl transformation
                                                    xsltProcessor=new XSLTProcessor();
                                                    xsltProcessor.importStylesheet(xsl);
                                                    resultDocument = xsltProcessor.transformToDocument(xml);

                                                    // write to iframe
                                                    var previewFrame = document.getElementById('preview_'+e.data.method)
                                                    var preview = previewFrame.contentDocument ||  previewFrame.contentWindow.document;
                                                    preview.open();
                                                    preview.write($(resultDocument.body).html());
                                                    preview.close();

                                                }
                                            })

                                        }
                                    })
                                })

                                $('.nav-tabs:first').append(tab)
                                $('.tab-content:first').append(item)

                            }

                            $(document).trigger('options_complete')

                             // activate first tab
                            $('.nav-tabs:first a:first').tab('show')
                        }
                 })

                // load insert buttons into editor
                $(document).bind('options_complete', function(){
                    $.ajax("{{ path("schema_list_entities") }}.json", {
                        type: "GET",
                        contentType: "application/json",
                        success: function(data) {
                            for(entity in data.list)
                            {
                                   $(".editor .controls").append($('<button class="insert btn btn-small" data-entity="'+data.list[entity]+'">'+data.list[entity]+'</button>'))
                            }
                            $(document).trigger('buttons_loaded');
                        }
                    })
                })

                // activate insert buttons
                $(document).bind('buttons_loaded', function(){
                   $('.editor .insert').click(function(){
                        var self = $(this)
                        var schema_uri = "{{ path("schema_entity", {"name": ""}) }}/"+$(this).data('entity')+'.xml'
                        $.ajax(schema_uri, {
                            type: "GET",
                            contentType: "application/xml",
                            beforeSend: function() {
                                self.attr('disabled', true)
                            },
                            complete: function(jqXHR, textStatus) {
                                self.attr('disabled', false)
                                if (jqXHR.status == 200)
                                {
                                    var val = $(".editor .area").val() + jqXHR.responseText
                                    $(".editor .area").val(val)
                                }
                                else alert('Unable to insert. Server response: '+jqXHR.status+' '+jqXHR.statusText)
                            }
                        })
                    })
                })

            });
            </script>
        </head>
        <body>

            <div class="container">

                <div class="navbar navbar-static-top">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li {% if (app.request.attributes.get('_route') == 'index') %} class="active" {%endif%}><a href="{{path("index")}}">BPI API</a></li>
                            <li {% if (app.request.attributes.get('_route') == 'profile_dictionary') %} class="active" {%endif%}><a href="{{path("profile_dictionary")}}.html">Profile Dictionary</a></li>
                        </ul>
                    </div>
                </div>

                <br>

                <div class="tabbable">
                    <ul class="nav nav-tabs"></ul>
                    <div class="tab-content"></div>
                </div>

            </div>

        </body>
    </html>
