<!DOCTYPE html>
<html>
    <head>
        <link href="/bundles/bpiapi/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/bundles/bpiapi/codemirror/lib/codemirror.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="/bundles/bpiapi/bootstrap/js/bootstrap.min.js"></script>
        <script src="/bundles/bpiapi/testinterface/mustache.js"></script>
        <script src="/bundles/bpiapi/codemirror/lib/codemirror.js"></script>
        <script src="/bundles/bpiapi/codemirror/mode/xml/xml.js"></script>
        <script src="https://raw.github.com/kvz/phpjs/master/functions/strings/sha1.js"></script>
        <script src="https://raw.github.com/kvz/phpjs/master/functions/xml/utf8_encode.js"></script>
        <script src="https://raw.github.com/janl/mustache.js/master/mustache.js"></script>
        <style type="text/css">
            iframe.body { border:0; margin:0; height: auto; min-height: 500px; }
        </style>
        <script type="text/javascript">
            
            $(document).ready(function(){
                
                var tpl = new Template()

                // query for available methods
                $.ajax("{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}.xml", {
                        type: "GET",
                        headers: {Authorization: 'BPI pk="2432", token="qerwer"'},
                        success: function(data, textStatus, jqXHR){
                            
                            var content = $('#tab_hypermedia')
                            
                            // RAW OUTPUT
                            $('#tab_raw').addClass('active') // codemirror works only in visible zone
                            var codemirror = CodeMirror($('#tab_raw')[0], {
                                lineNumbers: true,
                                lineWrapping: true
                            })
                            codemirror.setValue(jqXHR.responseText)
                            $('#tab_raw').removeClass('active')
                            
                            
                            // human friendly output for navigation
                            var xml = jqXHR.responseXML
                            $.ajax('/bundles/bpiapi/schema/stylesheet-1.0.xsl', {
                                accepts: {
                                    xsl: "application/xml"
                                },
                                dataType: "xml",
                                success: function(xsl){

                                    // do the xsl transformation
                                    xsltProcessor=new XSLTProcessor();
                                    xsltProcessor.importStylesheet(xsl);
                                    resultDocument = xsltProcessor.transformToDocument(xml);

                                    // write to iframe
                                    var previewFrame = $('#tab_adopted iframe')[0]
                                    var preview = previewFrame.contentDocument ||  previewFrame.contentWindow.document;
                                    preview.open();
                                    preview.write($(resultDocument.body).html());
                                    preview.close();

                                }
                            })
                            
                            // LINKS
                            content.append('<h3>Links</h3>')
                            $(data).find('hypermedia link').each(function(i, e){
                                content.append('<li><a href="'+$(e).attr('href')+'">'+$(e).attr('rel')+'</a></li>')
                            });
                            
                            // QUERIES
                            content.append('<h3>Queries</h3>')
                            var view = {tabs: []}
                            $(data).find('hypermedia query').each(function(i, e){
                                
                                var form_view = {
                                    url: "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}.html", 
                                    title: $(e).attr('title'), 
                                    fields: []
                                }
                                
                                $('param', e).each(function(ii, ee) {
                                   form_view.fields.push($(ee).attr('name'))
                                });
                                
                                view.tabs.push({
                                    id: 'tab_'+$(e).attr('href'),
                                    name: $(e).attr('rel'),
                                    content: Mustache.render(tpl.query_form, form_view)
                                })
                            });
                            content.append(Mustache.render(tpl.tabs, view))
                            
                            $.ajax("{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}.json", {
                                type: "OPTIONS",
                                success: function(data){
                                    content.append('<h3>Actions</h3>')
                                    var view = {tabs: []}
                                    for(http_method in data)
                                    {
                                        view.tabs.push({
                                            id: http_method,
                                            name: data[http_method].action + ' (' + http_method + ')',
                                            content: http_method
                                        })
                                    }
                                    content.append(Mustache.render(tpl.tabs, view))
                                }
                            })
                            
                            // activate first tab
                            $('.nav-tabs:first a:first').tab('show')
                        }
                 })

            });
            </script>
        </head>
        <body>

            <div class="container">

                <div class="navbar navbar-static-top">
                    <div class="navbar-inner">
                        <a class="brand" href="#">BPI REST API</a>
                        <ul class="nav">
                            <li {% if (app.request.attributes.get('_route') == 'doc') %} class="active" {%endif%}><a href="{{path("doc",{page:"introduction"})}}.html">Overview</a></li>
                            <li class="divider-vertical"></li>
                            <li {% if (app.request.attributes.get('_route') == 'index') %} class="active" {%endif%}><a href="{{path("index")}}">Nodes</a></li>
                            <li {% if (app.request.attributes.get('_route') == 'profile_dictionary') %} class="active" {%endif%}><a href="{{path("profile_dictionary")}}.html">Profile Dictionary</a></li>
                        </ul>
                    </div>
                </div>

                <br>

                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="#tab_hypermedia">Hypermedia</a></li>
                        <li><a data-toggle="tab" href="#tab_adopted">Adopted output</a></li>
                        <li><a data-toggle="tab" href="#tab_raw">Raw output</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab_hypermedia"></div>
                        <div class="tab-pane" id="tab_adopted"><iframe class='body preview span10'></iframe></div>
                        <div class="tab-pane" id="tab_raw"></div>
                    </div>
                </div>

            </div>

        </body>
    </html>
